body {
    font-family: Helvetica;
}

.container {
    max-width: 620px;
}

.page-title {
    text-align: center;
    margin: 40px 0 30px 0;
    font-weight: 700;
}

.ip-address{
    text-align: center;
}

.row-divisor {
    height: 20px;
    border-bottom: 1px solid #777;
    margin-bottom: 20px;
}

.row-separator {
    height: 30px;
}

.box {
    border: 1px solid #777;
    padding: 20px 10px;
}

.browser-name {
    font-size: 28px;
}